.learn{
    font-size:1em;
    text-align:center;

}

.Header {
    padding: 1rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 966px) {
    .Header {
        padding: 2rem;
    }
}


