.license{
    white-space: pre-line;
}

.Header {
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 966px) {
    .Header {
        padding: 2rem;
    }
}
