

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
    width: 100%;
    position: relative;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}

.quizbutton {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 8px;
    display: flex;
    padding: 5px;
    margin: 3px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #234668;
    cursor: pointer;
}

.quizbutton:hover {
    background-color: #555e7d;
}

.quizbutton:focus {
    outline: none;
}

button svg {
    margin-right: 5px;
}