.quiz_score {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.quiz_question {
    width: 100%;
    position: relative;
}

.quiz_count {
    margin-bottom: 20px;
}

.quiz_count span {
    font-size: 28px;
}

.quiz_text {
    margin-bottom: 12px;
}

.quiz_button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 8px;
    display: flex;
    padding: 5px;
    margin: 3px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #234668;
    cursor: pointer;
}

.quiz_button:hover {
    background-color: #555e7d;
}

.quiz_button:focus {
    outline: none;
}

.quiz_button svg {
    margin-right: 5px;
}

