.quiz_score {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.quiz_question {
    width: 100%;
    position: relative;
}

.quiz_count {
    margin-bottom: 20px;
}

.quiz_count span {
    font-size: 28px;
}

.quiz_text {
    margin-bottom: 12px;
}

.quiz_button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 8px;
    display: flex;
    padding: 5px;
    margin: 3px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #234668;
    cursor: pointer;
}

.quiz_button:hover {
    background-color: #555e7d;
}

.quiz_button:focus {
    outline: none;
}

.quiz_button svg {
    margin-right: 5px;
}

.quiz_sname {
    display: inline-block;
    color: white;
    padding: 10px;
    width: 250px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-radius: 2px;
    margin: 10px 15px 10px auto;
    transition:background-color 0.5s ease;
}


.quiz_sbutton {
    font-weight: bold;
    display: block;
    margin-top:15px;
    margin-bottom: 15px;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;

    border-radius:5px;

    text-align: center;
    text-decoration: none;
    color:white;
    background-color: rgb(0,224,188);
    box-shadow: -10px 10px 0 -5px rgb(51,52,71),-10px 10px 0 0 rgb(0,224,188);
    outline:0;
    border-bottom: 0;

    animation: jukaRoll2 0.8s 1;
}

.quiz_sbutton:hover{
    box-shadow: 10px 10px 0 -5px rgb(51,52,71),10px 10px 0 0 rgb(0,224,188);
    animation: jukaRoll 0.8s 1;
}


@keyframes jukaRoll2 {
    0% {
        box-shadow: 10px 10px 0 -5px rgb(51,52,71), 10px 10px 0 0 rgb(0, 224, 188);

    }
    33.3333% {
        box-shadow: 10px -10px 0 -5px rgb(51,52,71), 10px -10px 0 0 rgb(0, 224, 188);

    }
    66.6666% {
        box-shadow: -10px -10px 0 -5px rgb(51,52,71), -10px -10px 0 0 rgb(0, 224, 188);
    }
    100% {
        box-shadow: -10px 10px 0 -5px rgb(51,52,71), -10px 10px 0 0 rgb(0, 224, 188);
    }
}

@keyframes jukaRoll {
    0% {
        box-shadow: -10px 10px 0 -5px rgb(51,52,71), -10px 10px 0 0 rgb(0, 224, 188);
    }
    33.3333% {
        box-shadow: -10px -10px 0 -5px rgb(51,52,71), -10px -10px 0 0 rgb(0, 224, 188);
    }
    66.6666% {
        box-shadow: 10px -10px 0 -5px rgb(51,52,71), 10px -10px 0 0 rgb(0, 224, 188);
    }
    100% {
        box-shadow: 10px 10px 0 -5px rgb(51,52,71), 10px 10px 0 0 rgb(0, 224, 188);
    }
}


.quiz_snamerrr{
    color: red;
}