.Header {
    padding: 1rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 966px) {
    .Header {
        padding: 2rem;
    }
}



.specialthanks{
    text-align:center;
    font-size:22px;
    font-weight: 600;
}