.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.fontawe{
  width:40% !important;
  height: 200px;
}

.containerspace{
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}

.features p {
  background-color: rgb(245,246,247,10);
  text-align:left;
  padding: 1rem;
}

html[data-theme='dark'] .features p {
  color: #2b2c3c;
}