.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.fontawe{
  width:60% !important;
  height:auto;

}

.features p {
  background-color: rgb(245,246,247,10);
}

html[data-theme='dark'] .features p {
  color: #2b2c3c;
}