/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #333447;
  --ifm-color-primary-dark: #2e2f40;
  --ifm-color-primary-darker: #2b2c3c;
  --ifm-color-primary-darkest: #2b2c3c;
  --ifm-color-primary-light: #38394e;
  --ifm-color-primary-lighter: #3b3c52;
  --ifm-color-primary-lightest: #42445c;
  --ifm-code-font-size: 95%;
  --ifm-link-color: rgb(200,33,33);
  --ifm-footer-link-hover-color: #00dfbb;
  --ifm-menu-color-active: rgb(200,33,33);
  --ifm-font-color-base: #333447;
}

.navbar__link:hover, .navbar__link--active, .navbar__brand:hover{
  color:rgb(200,33,33);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(255, 255, 255, 0.3);
}


html[data-theme='dark'] {
  color: white;
}

main a{
  font-weight:700;
}

a:hover{
  color: #00dfbb;
}

html[data-theme='dark'] .container, html[data-theme='dark'] nav,  html[data-theme='dark'] nav a{
  color:white;
}

html[data-theme='dark'] a.menu__link--active{
  color: rgb(200,33,33);
}

.hero__title{
  font-size: 2.5em;
}

.navbar__items.navbar__items--right a.navbar__item.navbar__link:first-child{
  font-weight: bold;
  padding: 5px 10px;
  color:rgb(51,52,71);
  background-color: rgb(0,224,188);
  box-shadow: -10px 10px 0 -5px white,-10px 10px 0 0 rgb(0,224,188);
  border-radius: 5px;
  animation: jukaRollMain2 0.4s 1;
}

.navbar__items.navbar__items--right a.navbar__item.navbar__link:first-child:hover{
  box-shadow: 10px 10px 0 -5px white,10px 10px 0 0 rgb(0,224,188);
  animation: jukaRollMain 0.4s 1;
}

@keyframes jukaRollMain2 {
  0% {
    box-shadow: 10px 10px 0 -5px white, 10px 10px 0 0 rgb(0, 224, 188);

  }
  33.3333% {
    box-shadow: 10px -10px 0 -5px white, 10px -10px 0 0 rgb(0, 224, 188);

  }
  66.6666% {
    box-shadow: -10px -10px 0 -5px white, -10px -10px 0 0 rgb(0, 224, 188);
  }
  100% {
    box-shadow: -10px 10px 0 -5px white, -10px 10px 0 0 rgb(0, 224, 188);
  }
}

@keyframes jukaRollMain {
  0% {
    box-shadow: -10px 10px 0 -5px white, -10px 10px 0 0 rgb(0, 224, 188);
  }
  33.3333% {
    box-shadow: -10px -10px 0 -5px white, -10px -10px 0 0 rgb(0, 224, 188);
  }
  66.6666% {
    box-shadow: 10px -10px 0 -5px white, 10px -10px 0 0 rgb(0, 224, 188);
  }
  100% {
    box-shadow: 10px 10px 0 -5px white, 10px 10px 0 0 rgb(0, 224, 188);
  }
}

#btnControl{
  display:none;
}
#btnControl2{
  font-weight:bold;
  position:fixed;
  bottom:0;
  right:0;
  width:250px;
  height:35px;
  max-width:100%;
  max-height:100%;
  background-color:#333447;
  color:white;
  text-align:center;
  line-height: 35px;
  display:inline-block;
}

#discord{
  display: none;
  position:fixed;
  bottom:35px;
  right:0;
  max-width:100%;
  max-height:90%;
}

#btnControl:checked + label > #discord {
  display:block;
}

@media print {
  iframe { display: none !important; visibility: hidden; }
  #btnControl {display:none !important; visibility: hidden;}
  #btnControl2 {display: none !important; visibility: hidden;}
  #discord {display: none !important; visibility: hidden;}
  noscript{display: none !important; visibility: hidden;}
}